.node circle {
    fill: #ff7158bf;
    stroke: white;
  }
  
  .node text {
    font-size: 11px;
    font-family: "Poppins" ,"Roboto";
    background-color: black;
    fill: black;
  }
  
  .node {
    cursor: pointer;
  }