#components-layout-demo-custom-trigger .trigger {
  font-size: 1.125em;
  line-height: 4em;
  padding: 0 20.25em;
  cursor: pointer;
  transition: color 0.3s;
}
.force-overflow {
  min-height: 28.125em;
}
#style-3::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 0.375em;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: rgb(180, 178, 178);
}

/* .field {
  height: "200.3125em";
} */

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 2.5em;
  background: rgba(255, 255, 255, 0.5);
  margin: 1em;
}

.collapsedMargin {
  border: 0.25em solid rgba(115, 238, 132, 0.61) !important;
}
.unCollapsedMargin {
  border: 0.25em solid teal !important;
  width: "8em";
}
.logo {
  display: flex;
  align-items: center;
  margin: 0.3rem;
}
.logo > .small-logo {
  width: 3.43em;
  height: 3.125em;
}
.logo > .big-logo {
  width: "3.43em";
  height: "3.43em";
}
.flex {
  height: "2.1875em";
  margin-left: "0.375em";
}
.logo > h2 {
  color: #1890ff;
  padding-left: 0.7rem;
  margin: 0;
  font-family: "Poppins","Roboto";
  font-size: 1.8rem;
  font-weight: 600;
}
.trigger {
  font-size: 1.25em;
  padding: 0 0.75em;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: auto;
}
.clickable {
  cursor: pointer;
}
.product3 {
  width: 11.875em;
  height: "40%";
  padding: 0.3125em 1.25em;
  /* border-radius: "50%"; */
  box-shadow: 0 0.25em 0.875em 0em rgba(88, 88, 110, 0.25);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}
.total {
  width: 11.875em;
  height: "40%";
  padding: 0.3125em 1.25em;
  /* border-radius: "50%"; */
  box-shadow: 0 0.8125em 1.6875em -0.3125em rgba(50, 50, 93, 0.25);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.625em;
}
.voip:active {
  border-bottom: 0.125em solid #285bd3;
}
.voip:focus {
  border-bottom: 0.125em solid #285bd3;
}
.stats {
  /* height: 1.875em; */
  /* padding: 0.0625em 0.9375em; */
  box-shadow: 0 0.8125em 1.6875em -0.3125em rgba(50, 50, 93, 0.25);
  background-color: #ffffff;
  margin: 0.2rem;
  align-items: center;
  /* flex-wrap: wrap; */
  /* align-self: flex-end; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: auto; */
  border-radius: 0.25em;
  /* justify-content: space-between; */
}

/* opportunity won loss envelope */
.wrapper {
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.envelope {
  height: 5.8125em;
  width: 10.3125em;
  background: #fefefe;
  transition: margin-top 300ms;
  position: relative;
}
.top {
  position: absolute;
  top: -0.1875em;
  left: 0em;
  width: 100%;
  height: 4.5625em;
  z-index: 30;
  overflow: hidden;
  transform-origin: top;
  transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms,
    top 300ms 0ms;
}
.outer {
  position: absolute;
  bottom: 0em;
  left: 0em;
  border-left: 5.1875em solid transparent;
  border-right: 5.125em solid transparent;
  border-top: 4.375em solid #fefefe;
}
.inner {
  position: absolute;
  left: -5.0625em;
  top: -4.5625em;
  border-left: 5.0625em solid transparent;
  border-right: 5em solid transparent;
  border-top: 4.25em solid #2deb7c;
}
.innerloss {
  position: absolute;
  left: -5.0625em;
  top: -4.5625em;
  border-left: 5.0625em solid transparent;
  border-right: 5em solid transparent;
  border-top: 4.25em solid #bf3737;
}
.bottom {
  position: absolute;
  z-index: 20;
  bottom: 0em;
  left: 0.125em;
  border-left: 5.0625em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 2.8125em solid #2deb7c;
}
.bottomloss {
  position: absolute;
  z-index: 20;
  bottom: 0em;
  left: 0.125em;
  border-left: 5.0625em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 2.8125em solid #bf3737;
}
.left {
  position: absolute;
  z-index: 20;
  top: 0em;
  left: 0em;
  border-left: 5.0625em solid #2deb7c;
  border-top: 2.8125em solid transparent;
  border-bottom: 2.8125em solid transparent;
}
.leftloss {
  position: absolute;
  z-index: 20;
  top: 0em;
  left: 0em;
  border-left: 5.0625em solid #bf3737;
  border-top: 2.8125em solid transparent;
  border-bottom: 2.8125em solid transparent;
}
.right {
  position: absolute;
  z-index: 20;
  top: 0em;
  right: 0em;
  border-right: 5em solid #2deb7c;
  border-top: 2.8125em solid transparent;
  border-bottom: 2.8125em solid transparent;
}
.rightloss {
  position: absolute;
  z-index: 20;
  top: 0em;
  right: 0em;
  border-right: 5em solid #bf3737;
  border-top: 2.8125em solid transparent;
  border-bottom: 2.8125em solid transparent;
}
.cover {
  position: absolute;
  z-index: 15;
  bottom: 0em;
  left: 0em;
  height: 51%;
  width: 100%;
  background: #fefefe;
}
.paper {
  position: absolute;
  height: 5.625em;
  width: 94%;
  top: 0em;
  left: 0.3125em;
  padding: 0.9375em;
  background: #fff;
  z-index: 10;
  transition: margin-top 300ms 0ms;
}

.envelope:hover {
  transition-delay: 150ms;
  margin-top: 1.25em;
}
.envelope:hover .top {
  transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
  height: 0.625em;
  top: -3.75em;
  transform: rotateX(180deg);
}
.envelope:hover .paper {
  margin-top: -3.75em;
  transition: margin-top 300ms 150ms;
}
.scrollbar {
  float: left;
  background: #f5f5f5;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 28.125em;
}

.circle {
  width: 6.25em;
  height: 6.25em;
  margin: 0.625em;
  border-radius: 50%;
}

.black {
  background-color: rgb(153, 152, 152);
}

.blue {
  background-color: blue;
}
