@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.editable-row .ant-form-explain {
  position: absolute;
  font-size: 0.75em;
  margin-top: -0.25em;
}
.required-field {
  border: 1px solid red;
}
.hide-resize-observer {
  display: none !important;
}
.ant-menu{
  font-size: 0.8125rem;
}
.recharts-default-legend{
  padding: revert;
  margin: revert;
  width: max-content;
  text-align: center;
}
.login_image {
  height: 17.5em;
  width: 36.0625em;
}
.hover_button:hover {
  color: black;
}
.modal_show_hide {
  display: none;
}
.setpassword_button {
  display: flex;
  justify-content: flex-end;
}
.register_message {
  font-size: 1.0625em;
  width: auto;
  font-family: "Poppins";
}
.set_password {
  display: flex;
  flex-direction: row;
}
.login_password{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.randome_text2 {
  line-height: 1.1;
  font-family: "Poppins";
  color: black;
  font-size: 1.125em;
  font-weight: bold;
  margin-top: 1.125em;
  text-align: center;
}
.randome_text3 {
  line-height: 1.1;
  font-family: "Poppins";
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.875em;
  font-weight: 500;

  text-align: center;
}
.main_quarter_box {
  border: "0.0625em solid black";
  padding: 0.125em;
  background-color: rgb(204, 210, 221); 
  height: 30vh;
}

.footer1 {
  text-align: center;
  font-size: 12x;
  font-family: "Poppins"; 
  margin-top: auto;
}

.quarter1 {
  width: 22%;
}
.quarter1_header {
  width: 30%;
  display: flex;
}

.register {
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .modal_show_hide {
    display: block;
  }
  .setpassword_button {
    width: 320%;
  }
  .register {
    width: 84%;
  }
  .para {
    display: none;
  }
  .quarter1_header {
    width: 0%;
    display: flex;
  }
  .main_quarter_box {
    height: 30vh;
  }
  .set_password {
    width: 320%;
  }

  .css-1w5m2wr-MuiDataGrid-virtualScroller {
    overflow: hidden;
    position: relative;
}
  .register_message {
    font-size: 0.75em;
    width: auto;
  }
  .reg_text {
    font-size: 0.6875em;
  }
 
}
@media only screen and (max-width: 33.75em) {
  .register {
    width: 74%;
  }
  .para {
    display: none;
  }
  .quarter1 {
    width: 15%;
  }
  .quarter1_header {
    width: 24%;
    display: flex;
  }
  .main_quarter_box {
    height: 31vh;
  }
}
@media only screen and (min-width: 25.6875em) and (max-width: 45.6875em) {
  .register {
    width: 84%;
  }
  .quarter1 {
    width: 18%;
  }
  .para {
    display: none;
  }
  .quarter1_header {
    width: 26%;
    display: flex;
  }
  .main_quarter_box {
    height: 27vh;
  }
}
@media only screen and (min-device-width: 20em) and (max-device-width: 35.5em) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .register {
    width: 63%;
  }
  .quarter1 {
    width: 11.5%;
  }
  .para {
    display: none;
  }
  .quarter1_header {
    width: 24%;
    display: flex;
  }
  .main_quarter_box {
    height: 35vh;
  }
}

@media only screen and (min-device-width: 48em) and (max-device-width: 64em) {
  .randome_text2 {
    line-height: 1.1;
    font-family: "Poppins";
    color: black;
    font-size: 0.875em;
    font-weight: bold;
    margin-top: 0.9375em;
    text-align: center;
  }
  .randome_text3 {
    line-height: 1.1;
    font-family: "Poppins";
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.75em;
    font-weight: 500;

    text-align: center;
  }
  .login_image {
    height: 17.5em;
    width: 30.25em;
  }
  .set_password {
    width: 120%;
  }
}

@keyframes fadeInOut {
  0% {
    color: #f7f979;
  }
  50% {
    color: orange;
  }
  100% {
    color: #f7f979;
  }
}
@keyframes fadeInOut1 {
  0% {
    color: red;
  }
  50% {
    color: orange;
  }
  100% {
    color: red;
  }
}
.ant-select-selection-selected-value { 
  height: 1.48rem;
  box-shadow: rgb(170 170 170) 0px 0.25em 0.62em
}
.ant-calendar-picker {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0.42rem 0; 
  color: rgba(0, 0, 0, 0.65);  
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  outline: none;
  cursor: text;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ant-select-multiple .ant-select-selector {
  height: 1.48rem;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-badge .ant-badge-count {
  z-index: auto;
  min-width: 15px;
  height: 15px;
  color: #ffffff;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  white-space: nowrap;
  text-align: center;
  background: #ff4d4f;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #ffffff;
  transition:  0.2s;
}
/* :where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-inline .ant-menu-item {
  height: 31px;
  line-height: 40px;
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 0;
} */
.ant-picker {
  box-sizing: border-box;
  box-shadow: 0 0.25em 0.62em #aaa;
  height: 1.48rem;
  /* margin: 0 0 0.42rem 0; */
  width: -webkit-fill-available;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.75rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  /* padding: 0 0 0 0.7em; */
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 0.0625em solid #d9d9d9;
  border-radius: 2px;
  transition: border 0.3s, box-shadow 0.3s;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 1.48rem;
}
.ant-select-selection.ant-select-selection--single {
  height:1.48rem;
}
.stages { 
  box-shadow: 0 0.8125em 1.6875em -0.3125em rgba(118, 118, 184, 0.432);
  background-color:  #09bc8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -0.3125em;
}
.popup-wrapper {
  width: 18.75em !important;
}
.avatar {
  justify-content: "center";
  flex-direction: "column";
}
.avatar-bg {
  width: 5.625em;
  height: 5.625em;
  padding: 0.75em 1.875em;
  box-shadow: 0 0.8125em 1.6875em -0.3125em rgba(50, 50, 93, 0.25);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5em;
}
.vl {
  border-left: 0.375em solid rgb(95, 93, 92);
  height: 25em;
  margin: 0.5rem;
  margin-left: 2.5em;
}
.edit_hover_class {
  visibility: hidden;
}
.edit_hover_class:hover {
  visibility: visible;
}

.details {
  width: 12.9375em;
  padding: 0.625em 0.625em; 
  box-shadow: 0 0.8125em 1.6875em -0.3125em rgba(50, 50, 93, 0.25);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -0.3125em;
  margin-left: 0.5em;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0.3125em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375em rgba(0, 0, 0, 0.3);
  background-color: #0f0f0f;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  outline: 0.0625em solid rgb(121, 122, 122);
  
}

.DraftEditor-root {
  height: auto !important;
}

.ant-btn-primary:focus {
  color: #fff;
  height:  1.58rem;
  padding: 3px 8px; 
  border-radius: 3px;
  background-color: #1890ff;
  border-color: #1890ff;
}
a {
  color: #24d8a7;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.mainDiv {  
  right: 0; 
  border: 0.1875em solid blue;
}
.antbtn1 {
  background-color: teal;
  height: 2.1em;
  color: white;
  font-size: small;
  padding: 3px 4px;
  width: 48%;
}
.antbtn2 {
  background-color: #ff7158;
  font-size: small;
  color: white;
  padding: 3px 4px;
  height: 2.1em;
  width: 43%;
}
/* .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
} */

.ant-menu-sub.ant-menu-inline{
  margin-top:-12px
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #38445E;
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 45%) inset;
  box-shadow: 0 2px 8px rgb(0 0 0 / 45%) inset;
  overflow: revert
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
  flex: auto;
  min-width: 0;
  overflow: revert;
  text-overflow: ellipsis;
}

.ant-table-thead > tr > th .ant-table-filter-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  color: tomato;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
  color: tomato;
  background: #e5e5e5;
}

.documentId {
  position: absolute;
}
.ant-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  width: 100%;  
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.75rem; 
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9; 
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 1.48rem;
}

.ant-avatar-lg {
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem; 
}


.ant-table-row {
  position: relative;
}

.ant-table-row:hover .documentId {
  display: block;
  height: 54px;
  right: 0;
} 

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #696969;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #696969;
}

.load1{
  font-size: 8px;
    margin-top: 9px;
    font-weight: bold;
    margin-left:6px;
}

.ant-tooltip-inner {
  color: white;
  background-color: tomato;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: tomato;
}
.textarea{
  width: 100%;
min-height: 11.5em;
background-color: #fff;
color: #444;
display: block;
margin: 0 0 0.42rem 0;
outline: none;
box-shadow: 0em 0.25em 0.625em -0.25em #aaa;
padding: 0.3rem 1rem;
}
 .ant-switch{ 
  background-color: rgb(213, 213, 213);
  /* background: #09bc8b; */
}
.ant-time-picker-input{
  width:10rem;
}
.map-and-address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:27em;
  height:14em;
  background-color: white;
  border-radius:10px
}

.chosen-address {
  margin-bottom: 10px;
  color:"black";
  font-weight: bold;
}

.map-container {
  width: 330px;
  height: 200px;
  /* border-radius: 10px; */
  overflow: hidden;
}


.ant-badge-count {
  z-index: 8;
  min-width: 12px;
  height: 16px; 
  padding: 0 4px;
  color: #fff;
  right:8px;
  font-weight: normal;
  font-size: 0.75em;
  /* line-height: 1.1em; */
  white-space: nowrap;
  text-align: center;
  background: #f5222da3;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}
 .ant-badge{
  box-sizing: border-box;
  color: #0e9590d6;
  font-size: 0.75rem;
  font-variant: tabular-nums;
  line-height: 1.1em;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
}
.header-icon{
  box-sizing: border-box;
  color:#24d8a7;
  font-size: 0.75rem;
  font-variant: tabular-nums;
  line-height: 1.1em;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
}

.ant-btn-primary {
  color: #fff;
  height: 1.58rem;
  font-size: 0.8125em;
  border-color: #fff;
  padding: 3px 8px; 
  background-color: #ff7158bf; 
  border-radius: 3px;
  box-shadow: grey 1px 2px 0px 0px;
}
.button-borderless {
  color: #fff;
  height: 1.58rem;
  font-size: 0.8125em;
  border-color: #fff;
  padding: 3px 8px; 

}
.ant-btn-background-ghost{
  color: #fff;
  border-color: #fff;
  height: 1.58rem;
  padding: 3px 4px; 
  background-color: #ff7158bf; 
  border-radius: 3px;
  box-shadow: grey 1px 2px 0px 0px;
}
.ant-btn-danger {
  font-family: "Poppins";
  color: #fff;
  height: 1.58rem;
   padding: 3px 4px; 
   border-radius: 3px;
  background-color: #ff7158bf;
  border-color: #ff71586b;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  box-shadow: grey 1px 2px 0px 0px; 
}
.form-background{
  background-color: whitesmoke;
  font-family: "Poppins";
}
/* .pulse-background{
  position: relative;
  background-color:whitesmoke;
  box-shadow: 0 0.25em 0.62em #aaa;
  border-radius: 2px;
} */

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: -webkit-fill-available;
  height: 26px;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.75rem;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  display: inline-flex;
  box-shadow: lightgrey 2px 2px 2px 2px;
}

.ant-btn {
  font-family: "Poppins";
  height: 1.5rem;
  padding: 3px 8px; 
  font-size: 0.7rem;
  border-radius: 3px; 
  line-height: revert; 
  margin: 0 2px 0 2px;
  box-shadow: grey 1px 2px 0px 0px;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  height: 17px;
  font-size: inherit;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.ant-select-selection__rendered {
  height: 1.48rem;
}
.ant-select-selection {
  height: 1.48rem;
}
.ant-select-selection-item {
  height:1.48rem;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  height: 1.48rem;
}
.ant-select-selection--multiple {
  height:1.48rem;
   
}
.ant-select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  margin: 0 0 0.42rem 0; 
  height:1.48rem;
   width: 100%; 
   font-size: 0.75rem;
   box-shadow: 0em 0.25em 0.625em -0.25em #aaa;
  color: rgba(0, 0, 0, 0.65);  
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  outline: 0;
}

.blink{
  font-size: 12px;
  font-family: "Poppins";
  color: tomato;
  animation: blink 2s linear infinite; 
}

@keyframes blink {
  0% { color: #ff3d50; } 
  100% { color: #222291; }
}
.ant-divider-horizontal {
  display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 0.2em 0;
}
style attribute {
  margin-right: 0.5rem;
  color: #1890ff;
  font-size: 1.0625em;
  cursor: pointer;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  height:1.48rem;
  font-family: "Poppins";
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-selectors {
  position: relative;
  height:1.48rem;
  font-family: "Poppins";
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  height:1.48rem;
  font-family: "Poppins";
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.customize-select{
  position: relative;
  height:1.48rem;
  font-family: "Poppins";
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.813rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-family: "Poppins";
  font-feature-settings: 'tnum', "tnum";
  display: flex;
}
.sc-dOSReg-ejwrWx-wifiloader{
  margin-top: 10%;
  place-items: center;
}
.icon {
margin: 0 2px 0 2px;
}
.icon1{
  font-size:1rem;
}
.ant-upload.ant-upload-select-picture-card{
border: 0.0625em dashed #eee;
    height: 5.9375em;
    border-radius: 0.25em;
    border-color: teal;
    background-color: #fff;
    color: #444;
    text-align: center;
    cursor: pointer;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    vertical-align: top;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: table;
}


iframe#webpack-dev-server-client-overlay{display:none!important}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 18px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
h1{
  display: flex;
     justify-content: center;
      font-size: 1.25em;
      color: #40A9FF;
      font-family: "Poppins";
}
.ant-checkbox+span {
  
  font-size: 0.75rem;
}
.ant-layout.ant-layout-has-sider {
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
}

.ant-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.8rem;
  list-style: none;
  font-family: poppins;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}



.matrix-table {
  border-collapse: collapse;
  width: 100%;
}

.matrix-table th, .matrix-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.toggle-clr{
  background-color:rgb(119, 221, 119),
}

.matrix-table th {
  background-color: #f2f2f2;
}

.matrix-table input {
  width: 50px; /* Adjust the width as needed */
  text-align: center;
}

.matrix-table button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.matrix-table button:hover {
  background-color: #45a049;
}
.ant-drawer-content-wrapper {
  margin-top: 3rem !important;
  
}
.ant-drawer .ant-drawer-mask {
  position: absolute;
  inset: 0;
  z-index: 1000;
  background: rgba(1, 30, 70, 0.7);
  pointer-events: auto;
}

